@import "../theme";

#game-wrapper {
  background-color: $lightBackgroundColor;
  height: 100%;

  @media (prefers-color-scheme: dark) {
    background-color: $darkBackgroundColor;
  }

  .card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;

    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      border-radius: 15px;
    }

    .outer-card {
      margin: 10px;
    }
  }
}