#header-wrapper {
  #header-title {
    display: flex;
    align-items: center;

    .header-logo {
      height: 30px;
      margin: 0 10px;
    }

    h1 {
      font-size: 1.2em;
      margin: 10px 0;
    }
  }
}