.panel-wrapper {
  width: 100%;
  display: flex;
  flex-flow: column;

  .panel-header {
    padding: 0 10px;

    h1 {
      font-size: 1.2em;
      font-weight: 700;
    }
  }

  .panel-content {
    flex: 1;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(black, 0.2);
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      border-radius: 15px;
    }
  }
}