@import "../theme";

#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  overflow: hidden;

  display: flex;
  flex-flow: column;

  color: $darkTextColor;

  @media (prefers-color-scheme: dark) {
    color: $lightTextColor;
  }

  #top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    border-bottom: 2px solid black;

    background-color: $lightSidebarColor;

    @media (prefers-color-scheme: dark) {
      background-color: $darkSidebarColor;
    }
  }

  #game-wrapper {
    position: relative;
    flex: 1 1 auto;

    $sidebarTransition: left 0.3s ease, right 0.3s ease;

    $initialButtonPadding: 10px;
    $minimalButtonPadding: 2px;

    #game-layout {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      display: flex;

      .sidebar-button-container {
        position: absolute;
        top: 50%;

        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        transition: $sidebarTransition;

        z-index: 5;

        &#user-panel-btn {
          left: $initialButtonPadding;

          @media (max-width: $shrinkPaddingAt) {
            left: $minimalButtonPadding;
          }
        }

        &#chat-panel-btn {
          right: $initialButtonPadding;

          @media (max-width: $shrinkPaddingAt) {
            right: $minimalButtonPadding;
          }
        }

        @media (min-width: $hideSidebarsAt + 1px) {
          display: none;
        }

        .sidebar-button {
          display: flex;
          align-items: center;

          .icon {
            margin: 10px;
            font-size: 30px;
            cursor: pointer;
            transition: 0.3s ease;

            -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
            color: $darkButtonColor;

            @media (prefers-color-scheme: dark) {
              color: $lightButtonColor;
            }


            &.flipped {
              transform: rotateY(180deg);
            }

            .unread-counter-wrapper {
              position: absolute;
              top: -1px;
              right: -3px;

              background-color: $errorColor;
              border-radius: 50%;

              width: 20px;
              height: 20px;

              font-size: 13px;
              color: $lightTextColor;

              display: flex;
              justify-content: center;
              align-items: center;

              visibility: hidden;
              transform: scale(0);

              transition: transform 0.1s ease;

              &.visible {
                visibility: visible;
                transform:scale(1);
              }

              .unread-counter {
                padding-bottom: 2px;
              }
            }
          }

          .title {
            transition: opacity 0.2s ease;
            opacity: 0.0;
            cursor: default;
            margin-top: -2px;

            p {
              font-weight: 700;
              padding: 0;
              margin: 0;
            }
          }

          &.hovered {
            .icon {
              color: black;

              @media (prefers-color-scheme: dark) {
                color: white;
              }
            }

            .title {
              opacity: 1;
            }
          }
        }
      }

      .container {
        position: relative;
        min-height: 100%;

        &.side {
          z-index: 5;

          display: flex;
          width: $sidebarWidth;
          box-sizing: border-box;

          min-height: 100%;
          transition: $sidebarTransition;

          background-color: white;

          @media (prefers-color-scheme: dark) {
            background-color: $darkSidebarColor;
          }

          @media (max-width: $hideSidebarsAt) {
            position: absolute;
            top: 0;
            bottom: 0;

            &#user-container {
              left: -$sidebarWidth;
            }

            &#chat-container {
              right: -$sidebarWidth;
            }
          }

          $border: 1px solid black;

          &#user-container {
            border-right: $border;
          }

          &#chat-container {
            border-left: $border;
          }
        }

        &#game-container {
          flex: 3;
        }
      }
    }

    .overlay {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      background-color: black;

      z-index: 2;
      opacity: 0;
      visibility: hidden;

      transition: 0.2s ease;
    }

    &:not(.without-panels) {
      #game-layout .sidebar-button-container .sidebar-button .title {
        opacity: 0;
      }

      .overlay {
        @media (max-width: $hideSidebarsAt) {
          visibility: visible;
          opacity: 0.5;
        }
      }
    }

    &.with-user-panel #game-layout {
      .sidebar-button-container {
        &#user-panel-btn {
          left: $sidebarWidth + $initialButtonPadding;

          @media (max-width: $shrinkPaddingAt) {
            left: $sidebarWidth + $minimalButtonPadding;
          }

          .icon {
            color: #dedede;

            &:hover {
              color: white;
            }
          }
        }

        &#chat-panel-btn {
          z-index: 1;
        }
      }

      .container#user-container {
        left: 0;
      }
    }

    &.with-chat-panel #game-layout {
      .sidebar-button-container {
        &#chat-panel-btn {
          right: $sidebarWidth + $initialButtonPadding;

          @media (max-width: $shrinkPaddingAt) {
            right: $sidebarWidth + $minimalButtonPadding;
          }

          .icon {
            color: #dedede;

            &:hover {
              color: white;
            }
          }
        }

        &#user-panel-btn {
          z-index: 1;
        }
      }

      .container#chat-container {
        right: 0;
      }
    }
  }
}
