.setup-footer {
  margin-bottom: 10px;
  font-size: 0.7em;
  text-align: center;

  a {
    text-decoration: none;
    font-weight: 500;

    color: dodgerblue;

    &:hover {
      color: cornflowerblue;
    }
  }
}