@import "./setup";

#room-setup {
  #join-or-create-btns {
    display: flex;
    margin-bottom: 15px;

    .setup-button {
      margin: 15px;
    }

    @media (max-width: $initialWidth) {
      flex-direction: column;

      .setup-button {
        margin: 10px 0;
      }
    }
  }
}