.card {
  position: relative;

  width: 200px;
  height: 140px;
  background-color: white;

  margin: 80px auto;
  padding: 10px 20px;

  border: 2px solid black;
  border-radius: 10px;

  .text {
    color: black;
    text-align: left;

    display: block;
    cursor: text;
  }

  &.response .text {
    font-family: 'Indie Flower', cursive;
    font-size: 1.1em;
  }

  &.input {
    .text[contenteditable] {
      outline: 0px solid transparent;

      &:empty:before {
        content: attr(placeholder);
        color: #828282;
      }
    }

    .corner {
      position: absolute;
      bottom: 8px;
      right: 10px;
      height: 30px;

      display: flex;
      align-items: center;

      .submit-text {
        margin: 0;
        padding-right: 2px;
        font-size: 0.9em;
      }

      .submit-btn-wrapper {
        width: 30px;
        height: 30px;

        display: flex;
        justify-content: center;
        align-items: center;

        .submit-icon {
          cursor: pointer;

          &:hover {
            color: dodgerblue;
          }
        }
      }
    }
  }
}