$lightBackgroundColor: #f0f0f0;
$darkBackgroundColor: #4f4f4f;

$lightSidebarColor: white;
$darkSidebarColor: #3d3d3d;

$lightTextColor: white;
$darkTextColor: black;

$lightButtonColor: #dedede;
$darkButtonColor: #595959;