$lightBackgroundColor: #f0f0f0;
$darkBackgroundColor: #4f4f4f;

$lightSidebarColor: white;
$darkSidebarColor: #3d3d3d;

$lightTextColor: white;
$darkTextColor: black;

$lightAltTextColor: rgba(white, 0.6);
$darkAltTextColor: rgba(black, 0.6);

$lightButtonColor: #dedede;
$darkButtonColor: #595959;