body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Roboto Slab', serif;
  background-color: #f0f0f0;

  @media (prefers-color-scheme: dark) {
    background-color: #4f4f4f;
  }
}