@import "theme";

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100%;
  padding: 0;
  margin: 0;

  font-family: $primaryFont;

  background-color: $lightBackgroundColor;

  @media (prefers-color-scheme: dark) {
    background-color: $darkBackgroundColor;
  }
}

.wrapper-container {
  visibility: hidden;
  opacity: 0;

  $transitionDuration: 0.5s;
  $transition: $transitionDuration ease-in-out;
  transition: opacity $transition, visibility $transition;

  &.visible {
    visibility: visible;
    opacity: 1;

    $transition: $transitionDuration ease;
    transition: opacity $transition, visibility $transition;
  }
}